@model LightInvest.Models.ResultadoTarifaViewModel

<h2>Resultado da Simulação</h2>

<div>
	<h4>Resumo da Simulação</h4>
	<p><strong>Consumo Total Anual:</strong> @Model.ConsumoTotal.ToString("F2") kWh</p>
	<p><strong>Valor Anual:</strong> @Model.ValorAnual.ToString("C2")</p>
	<p><strong>Tarifa Escolhida:</strong> @Model.TarifaEscolhida</p>
	<p><strong>Preço do kWh:</strong> @Model.PrecoKwh.ToString("C2")</p>
</div>

<div>
	<h4>Detalhamento Mensal</h4>
	<table class="table">
		<thead>
		<tr>
			<th>Mês</th>
			<th>Consumo (kWh)</th>
			<th>Custo (R$)</th>
		</tr>
		</thead>
		<tbody>
		@foreach (var mes in Model.ConsumoMensal)
		{
			<tr>
				<td>@mes.Mes</td>
				<td>@mes.Consumo.ToString("F2")</td>
				<td>@mes.Custo.ToString("C2")</td>
			</tr>
		}
		</tbody>
	</table>
</div>
<a href="@Url.Action("Simulation", "EnergySimulation")" class="btn btn-primary">Continuar</a> <!--COLOCAR CAMINHO CERTO-->

<a href="@Url.Action("Simulation", "EnergySimulation")" class="btn btn-primary">Nova Simulação</a>