@model EnergyConsumptionViewModel

@{
	ViewData["Title"] = "Consumo de Energia";
}

<div class="simulation-container">
	<div class="simulation-box">
		<h2>Formulário Consumo de Energia</h2>
		<form asp-controller="EnergySimulation" asp-action="Simulation" method="post">

			<!-- Consumo Horário Dias de Semana -->
			<div class="section">
				<h5>1. Consumo Horário: Segunda-feira a Sexta-feira</h5>
				<div class="hourly-inputs">
					@for (int i = 0; i < 24; i++)
					{
						<div class="hour-box">
							<label><strong>@i h</strong></label>
							<input type="number" class="borders" asp-for="ConsumoDiaSemana[i]" min="0" step="0.01"
								   value="@(Model.ConsumoDiaSemana[i] > 0 ? Model.ConsumoDiaSemana[i].ToString("F2") : "")" />
						</div>
					}




				</div>
			</div>

			<!-- Consumo Horário Fins de Semana -->
			<div class="section">
				<h5>2. Consumo Horário: Feriados/Fim de Semana</h5>
				<div class="hourly-inputs">
					@for (int i = 0; i < 24; i++)
					{
						<div class="hour-box">
							<label><strong>@i h</strong></label>
							<input type="number" class="borders" asp-for="ConsumoFimSemana[i]" min="0" step="0.01"
								   value="@(Model.ConsumoFimSemana[i] > 0 ? Model.ConsumoFimSemana[i].ToString("F2") : "")" />
						</div>
					}



				</div>
			</div>

			<!--Ocupação Mensal-->
			<div class="section">
				<h5>3. Ocupação Mensal</h5>
				<div class="month-checkboxes">
					@foreach (var mes in Enum.GetNames(typeof(Meses)))
					{
						<label>
							<input type="checkbox" name="MesesOcupacao" value="@mes"
							@(Model.MesesOcupacao.Contains(mes) ? "checked" : "") />
							@mes
						</label>
					}
				</div>
			</div>

			<!-- Estatísticas -->
			<div class="section">
				<h5>4. Estatísticas</h5>
				<p><strong>Segunda a sexta:</strong> média @Model.MediaSemana kWh por dia</p>
				<p><strong>Fim de semana:</strong> média @Model.MediaFimSemana kWh por dia</p>
				<p><strong>Base anual:</strong> média @Model.MediaAnual kWh por ano</p>
			</div>


			<div id="not-hidden-button">
				<button type="submit" class="btn">Calcular</button>
			</div>

		</form>

	</div>

	<div id="hidden-buttons">
		<a href="@Url.Action("Index", "Home")" class="btn">Cancelar</a>
		<a href="@Url.Action("SelecionarTarifa", "EnergySimulation")" class="btn">Seguinte</a>
	</div>

</div>

<script>
	document.querySelector('form').addEventListener('submit', function(event) {
		const inputs = document.querySelectorAll('input[type="number"]');

		inputs.forEach(input => {
			if (input.value.trim() === '') {
				input.value = '0';
			}
		});
	});
</script>



<style>
	.simulation-container {
		height: 80vh;
		background-color: #f9f9f9;
	}


	h2 {
		font-weight: bold;
		font-size: 3rem;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		color: #065A66;
		text-align: center;
		margin-bottom: 4%;
	}

	.section {
		border-radius: 20px;
		padding: 4%;
		margin-bottom: 6%;
		background-color: white;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	}


	h5 {
		color: rgba(0, 0, 0, 0.61);
		margin-bottom: 3%;
		font-weight: bold;
	}

	.borders {
		border: 1px solid black;
		border-radius: 8px;
	}

	.month-checkboxes {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		font-size: 20px;
	}

		.month-checkboxes label {
			flex: 1 1 calc(25% - 10px);
		}


	.hourly-inputs {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 10px;
	}

	.hour-box {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	input[type="number"] {
		width: 50px;
		text-align: center;
	}

	.btn {
		background: #065A66;
		color: white;
		padding: 10px 20px;
		border: none;
		cursor: pointer;
		border-radius: 25px;
	}

		.btn:hover {
			color: white;
			background: #054850;
		}

	.hourly-inputs {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		gap: 10px;
	}

	#not-hidden-button {
		margin-bottom: 4%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#hidden-buttons {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 2%;
	}

	p {
		font-size: 18px;
	}

</style>